/* Simple Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}


/* root*/

:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);

    --fs-p: 18px;

    --fw-regular: 500;
    --fw-bold: 700;
}


/* Utility Classes */

.logo {
    margin-right: 40px;
}

.p {
    color: var(--gray);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
}

.p-black {
    color: var(--black);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
}

.p-hoverable {
    color: var(--gray);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    cursor: pointer;
}


.p-hoverable:hover {
    color: var(--black);
    font-size: var(--fs-p);
}


/* main css */

body {
    background-color: var(--white);
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
}

.header-container {
    height: 8vh;
    display: flex;
    align-items: center;
    margin-inline: 30px;
    overflow: hidden;
}

.nav-container-flex {
    position: fixed;
    display: flex;
    justify-content: start;
    padding-top: 10vh;
    width: 60%;
    top: 0vh;
    right: 0;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid grey;
    transform: translateX(100%);
    transition: transform .4s ease;
    background-color: var(--white);
}



.nav-container-left {
    display: flex;
    gap: 40px;
    padding-left: 8%;

}


.nav-container-right {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.nav-ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
    gap: 40px;
    flex-direction: column;
}

.register-btn {
    padding: 10px 12px;
    border-radius: 12px;
    border: .8px solid var(--gray);
    background-color: transparent;
    width: 80%;
}

.register-btn:hover {
    border: .8px solid var(--black);
}



.icon-container {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;


}


.arrow-icon {
    margin-inline: auto;
    transition: transform .5s ease;
}



.arrow-icon-feat.arrowAnimation {
    transform: rotate(180deg);
    transition: transform .5s ease;
}

.arrow-icon-comp.arrowAnimation {
    transform: rotate(180deg);
    transition: transform .5s ease;

}





.dropdown-container-features {
    position: relative;
    display: none;
    margin-top: 3vh;
    width: 100%;
    margin-left: -50%;
    background-color: var(--white);



}

.dropdown-container-features:hover,
.dropdown-container-company:hover {
    color: var(--gray);
    cursor: default;
}

.dropdown-item {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: var(--gray);

}

.dropdown-item:hover {
    cursor: pointer;
    color: var(--black);
}

.dropdown-icon {
    width: 16px;
    height: 18px;
    justify-self: end;



}

.dropdown-icon svg {
    margin-inline: auto;
    transform: rotate(180deg);


}

.dropdown-text {
    margin-left: 20px;
    align-self: center;
}

.dropdown-container-company {
    background-color: var(--white);
    position: relative;
    display: none;
    margin-top: 3vh;
    width: 100%;
    margin-left: -50%;

}

.company-dropdown-item {
    margin: 20px auto 20px 30px;
    color: var(--gray);

}

.company-dropdown-item:hover {
    cursor: pointer;
    color: var(--black);
}


.burger {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

.burger .line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background-color: var(--black);

}

.burger .line1 {
    transition: transform 0.5s ease;
}

.burger .line2 {
    transition: 0.5s;
    opacity: 1;
}

.burger .line3 {
    transition: transform 0.5s ease;
}


.burger.showBurger .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
    transition: transform 0.5s ease;
}

.burger.showBurger .line2 {
    opacity: 0;
    transition: 0.5s;
}

.burger.showBurger .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
    transition: transform 0.5s ease;
}

.nav-container-flex.showBurger {
    transform: translateX(0%);
}



.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Hero Section */
.hero-img-desktop {
    display: none;
}

.img-container {
    margin-bottom: 48px;
    width: 100%;
}

.img-container img {
    margin-inline: auto;
    max-width: 100%;
}

.h1 {
    font-size: 38px;
    margin-bottom: 16px;
    color: var(--black);
}

.hero-text {
    text-align: center;
    width: 95%;
    margin-inline: auto;
}

.p-container {
    margin-bottom: 36px;
    width: 95%;
    margin-inline: auto;
    text-align: center;
}

.p-hero {
    font-size: 16px;
}

.button-container {
    margin-bottom: 48px;
}

.button-container button {
    background-color: var(--black);
    color: var(--white);
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid black;
    cursor: pointer;
}

.brands-container {
    display: flex;
    justify-content: space-around;
}

.brand img {
    width: 80%;
}

.desktop-linebreak {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Desktop */

@media screen and (min-width: 960px) {
    .burger {
        display: none;
    }

    .header-container {
        overflow: visible;
    }

    .nav-container-flex {
        display: flex;
        position: relative;
        justify-content: space-between;
        height: 8vh;
        width: 100%;
        top: auto;
        right: auto;
        flex-direction: row;
        padding: 0;
        border: none;
        align-items: center;
        transform: none;
        transition: none;
    }

    .nav-container-left {
        display: flex;
        gap: 50px;
        flex-direction: row;
        padding: 0;
        margin: 0;

    }


    .nav-container-right {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: row;
        margin-top: 0;
        width: auto;
        padding: 0;
        margin: 0;
    }

    .nav-ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 40px;
        flex-direction: row;
    }

    .register-btn {
        padding: 8px 12px;
        border-radius: 12px;
        border: .8px solid var(--gray);
        background-color: transparent;
        width: auto;

    }

    .dropdown-li {
        display: flex;
        position: relative;

    }

    .dropdown-container-features {
        position: absolute;
        display: none;
        margin-top: 4vh;
        width: 200%;
        margin-left: -100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;

    }

    .dropdown-container-company {
        position: absolute;
        display: none;
        margin-top: 4vh;
        margin-left: 0;
        width: 150%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
    }

    .hero-img-mobile {
        display: none;
    }

    .hero-img-desktop {
        display: block;
        height: 100%;
        ;
    }

    .img-container {
        margin: 0;
        padding: 0;
    }


    .main-container {
        display: flex;
        flex-direction: row-reverse;
        flex: 50% 50%;
        margin-top: 24px;
        height: 80vh;
        width: 100%;
        max-width: 1600px;
        margin-inline: auto;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 7.5%;
        text-align: left;

    }

    .p-container {
        padding: 0;
        margin: 0;
        padding-right: 50px;
        text-align: left;
        line-height: 24px;
        width: 70%;
    }

    .h1-container {
        padding-top: 35%;
    }

    .h1 {
        font-size: 70px;
        color: var(--black);
        font-weight: bold;
    }

    .desktop-linebreak {
        display: block;
    }

    .brands-container {
        display: flex;
        justify-content: flex-start;
        gap: 7%;


    }

    .cta-button {
        padding: 50px 100px;
    }

    .brand img {
        width: 100%;
    }

    .page-mask {
        display: none;
    }
}

@media screen and (min-width: 1150px) {
    .main-container {
        width: 90%;
    }

    .h1 {
        font-size: 80px;
        color: var(--black);
    }
}




.page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--black);
    opacity: 0;
    transition: .5s;

}

.showDarkBg {
    display: block;
    opacity: .6;
    transition: .5s;
}

.show {
    display: block;
}

.dropdown-li {
    display: flex;
    position: relative;
    color: var(--gray);

}

.dropdown-li:hover {
    color: var(--black);

}